body {
  margin: 0;
  padding: 0;
  background-color: #0f0f0f;
  color: #f1f1f1;
  font-family: Arial, sans-serif;
}

h1 {
  color: #e50914;
}
.cta-buttons {
  margin-top: 25px;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.cta {
  padding: 12px 20px;
  background: #222;
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
  font-weight: 600;
  transition: 0.3s ease;
}

.cta.primary {
  background: #b30000;
}

.cta:hover {
  background: #444;
}
section {
  margin-top: 120px;
  padding-top: 40px;
}
